<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="/css/resManageDetail.css">
</head>
<body>

<div class="app-container">
  <!-- sidebar -->
  <div class="app-left sidebar">
    <div class="app-logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
        <line x1="18" y1="20" x2="18" y2="10"/>
        <line x1="12" y1="20" x2="12" y2="4"/>
        <line x1="6" y1="20" x2="6" y2="14"/>       </svg>
      <span>Sunset Admin</span>
    </div>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-list-link" href="/admin">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"/></svg>
          대시보드
        </a>
      </li>
      <li class="nav-list-item active">
        <a class="nav-list-link" href="/resManage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"/><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"/></svg>
          예약 관리
        </a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="/userManage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
          회원 관리
        </a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="/adminMessage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
          메신저
        </a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="/adminManage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
          관리자 관리
        </a>
      </li>
    </ul>
  </div>

  <div class="app-left">
    <div class="app-left-content">
      <div class="app-left-content-header">
        <h1 class="content-title" th:text="${room.name}">객실 이름</h1>
      </div>
      <div class="app-content-field">
        <div class="product-box medium">
          <img class="product-box-image" th:with="imgName=${#strings.substringAfter(room.room_img, '_')}"
               th:src="'/sunset_gallery/' + ${imgName}" alt="Product">
          <div class="product-box-details">객실 사진</div>
        </div>
        <div class="product-boxes">
          <div class="product-box-wrapper three">
            <div class="product-box medium">
              <div class="product-box-title">성인, 어린이</div>
              <div class="product-box-content product-content" th:text="${res.people} + '명, ' + ${res.child} + '명 '">성인, 어린이</div>
            </div>
            <div class="product-box medium">
              <div class="product-box-title">체크인</div>
              <div class="product-box-content product-content" th:text="${res.in_date}">2024-06-06</div>
            </div>
            <div class="product-box medium">
              <div class="product-box-title">체크아웃</div>
              <div class="product-box-content product-content" th:text="${res.out_date}">성인, 어린이</div>
            </div>
          </div>
          <div class="product-box-wrapper two">
<!--            <div class="product-box medium">-->
<!--              <div class="product-box-title">예약자 정보</div>-->
<!--              <div class="product-box-content" th:text="${res.out_date}">-->
<!--                request-->
<!--              </div>-->
<!--              <div class="product-box-content" th:text="${res.out_date}">-->
<!--                request-->
<!--              </div>-->
<!--              <div class="product-box-content" th:text="${res.out_date}">-->
<!--                request-->
<!--              </div>-->
<!--            </div>-->
            <div class="product-box medium">
              <div class="product-box-title">예약자 정보</div>
              <div class="product-details-line">
                <span class="product-details-text1">이름</span>
                <span class="product-details-text1 info" th:text="${res.res_name}">455.00 $</span>
              </div>
              <div class="product-details-line">
                <span class="product-details-text1">번호</span>
                <span class="product-details-text1 info" th:text="${res.res_num}">56,000 KRW</span>
              </div>
              <div class="product-details-line">
                <span class="product-details-text1">이메일</span>
                <span class="product-details-text1 info"
                      th:text="${res.res_email}">
                  -10.00 $
                </span>
              </div>
            </div>

            <div class="product-box medium">
              <div class="product-box-title">추가요청</div>
              <div class="product-box-request-content product-content" th:text="${res.add_request}">request</div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="app-content-field second">-->
<!--        <div class="product-box-wrapper three">-->
<!--          <div class="product-box medium">-->
<!--            <img class="product-box-image" src="https://images.unsplash.com/photo-1502920924215-5646fe685bef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80" alt="Product">-->
<!--            <div class="product-box-details">Mirrors <span>35</span></div>-->
<!--          </div>-->
<!--          <div class="product-box medium">-->
<!--            <img class="product-box-image" src="https://images.unsplash.com/photo-1453904300235-0f2f60b15b5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1233&q=80" alt="Product">-->
<!--            <div class="product-box-details">Plants <span>25</span></div>-->
<!--          </div>-->
<!--          <div class="product-box medium">-->
<!--            <img class="product-box-image" src="https://images.unsplash.com/photo-1604014237256-11d475e2a2d8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80" alt="Product">-->
<!--            <div class="product-box-details">Bathroom <span>25</span></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <div class="app-right">
    <button class="app-right-hide">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" viewBox="0 0 24 24">
        <path d="M18 6L6 18M6 6l12 12"/>
      </svg>
    </button>
    <div class="app-right-content">
      <ul class="product-list">
        <li class="product-list-item fadeIn">
          <div class="product-img-wrapper">
            <img class="product-image" th:with="imgName=${#strings.substringAfter(room.room_img, '_')}"
            th:src="'/sunset_gallery/' + ${imgName}"/>
          </div>
          <div class="product-list-itemContent">
            <div class="product-info">
              <h2 class="product-info-header" th:text="${room.name}">
                객실 이름
              </h2>
              <p class="product-info-subheader">
                가격 $
              </p>
            </div>
            <div class="product-amount-wrapper">
              <span class="product-amount" th:text="${res.room_count}">2</span>
            </div>
          </div>
        </li>
        <li class="product-list-item fadeIn">
          <div class="product-img-wrapper">
            <img class="product-image" th:src="'/sunset_gallery/180708-40-2000-din-seoul-signiel.jpg.thumb.1920.1920.jpg'" alt="product"/>
          </div>
          <div class="product-list-itemContent">
            <div class="product-info">
              <h2 class="product-info-header">
                조식
              </h2>
              <p class="product-info-subheader">
                56,000 KRW
              </p>
            </div>
            <div class="product-amount-wrapper">
              <span class="product-amount" th:text="${res.breakfast}">1</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="product-details fadeIn">
        <div class="product-details-line">
          <span class="product-details-text">객실 가격(부가세 포함)</span>
          <span class="product-details-text amount"
                th:with="breakfast=${res.breakfast * 56000}"
                th:text="${#numbers.formatInteger(res.total_price - breakfast, 0, 'COMMA')} + ' KRW'">455.00 $</span>
        </div>
        <div class="product-details-line">
          <span class="product-details-text">조식</span>
          <span class="product-details-text amount" th:text="${res.breakfast * 56000} + ' KRW'">56,000 KRW</span>
        </div>
        <div class="product-details-line">
          <span class="product-details-text">Discount</span>
          <span class="product-details-text amount"
                th:text="${#numbers.formatInteger(res.point, 0, 'COMMA')} + ' KRW'">
            -10.00 $
          </span>
        </div>
        <div class="product-details-summary">
          <span class="product-details-text">Total</span>
          <span class="product-details-text amount"
                th:with="payMoney=${res.total_price - res.point}"
                th:text="${#numbers.formatInteger(payMoney, 0, 'COMMA')} + ' KRW'">
            460.00 $
          </span>
        </div>
      </div>
    </div>
    <button class="checkout-button">Checkout Payment</button>
  </div>
</div>

</body>
</html>