<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="/css/resManageDetail.css">
</head>
<body>

<div class="app-container">
  <!-- sidebar -->
  <div class="app-left sidebar">
    <div class="app-logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
        <line x1="18" y1="20" x2="18" y2="10"/>
        <line x1="12" y1="20" x2="12" y2="4"/>
        <line x1="6" y1="20" x2="6" y2="14"/>       </svg>
      <span>Sunset Admin</span>
    </div>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-list-link" href="/admin">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"/></svg>
          대시보드
        </a>
      </li>
      <li class="nav-list-item active">
        <a class="nav-list-link" href="/resManage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"/><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"/></svg>
          예약 관리
        </a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="/userManage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
          회원 관리
        </a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="/adminMessage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
          메신저
        </a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="/adminManage">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
          관리자 관리
        </a>
      </li>
    </ul>
  </div>

  <div class="app-left">
    <div class="app-header">
      <div class="app-filter-wrapper">
        <button class="filter-dropdown-button">
          <span>All Categories</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24">
            <path d="M6 9l6 6 6-6" />
          </svg>
        </button>
        <input class="filter-search-input" type="text" placeholder="Search...">
      </div>
      <button class="action-button active">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
          <defs />
          <path d="M6 2L3 6v14a2 2 0 002 2h14a2 2 0 002-2V6l-3-4zM3 6h18M16 10a4 4 0 01-8 0" />
        </svg>
      </button>
    </div>
    <div class="app-left-content">
      <div class="app-left-content-header">
        <h1 class="content-title">Discover <span>the best</span></h1>
        <a href="#" class="content-link">See More</a>
      </div>
      <div class="app-content-field">
        <div class="product-box medium">
          <img class="product-box-image" src="https://images.unsplash.com/photo-1531471689044-dd3ca86632e1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80" alt="Product">
          <div class="product-box-details">Decoration <span>55</span></div>
        </div>
        <div class="product-boxes">
          <div class="product-box-wrapper three">
            <div class="product-box medium">
              <img class="product-box-image" src="https://images.unsplash.com/photo-1510877073473-6d4545e9c2af?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80" alt="Product">
              <div class="product-box-details">Tables <span>55</span></div>
            </div>
            <div class="product-box medium">
              <img class="product-box-image" src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80" alt="Product">
              <div class="product-box-details">Lamps <span>45</span></div>
            </div>
            <div class="product-box medium">
              <img class="product-box-image" src="https://images.unsplash.com/photo-1526827826797-7b05204a22ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80" alt="Product">
              <div class="product-box-details">Shelves <span>25</span></div>
            </div>
          </div>
          <div class="product-box-wrapper two">
            <div class="product-box medium">
              <img class="product-box-image" src="https://images.unsplash.com/photo-1519961655809-34fa156820ff?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80" alt="Product">
              <div class="product-box-details">Sofa <span>55</span></div>
            </div>
            <div class="product-box medium">
              <img class="product-box-image" src="https://images.unsplash.com/photo-1556910585-09baa3a3998e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1301&q=80" alt="Product">
              <div class="product-box-details">Kitchen <span>105</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-content-field second">
        <div class="product-box-wrapper three">
          <div class="product-box medium">
            <img class="product-box-image" src="https://images.unsplash.com/photo-1502920924215-5646fe685bef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80" alt="Product">
            <div class="product-box-details">Mirrors <span>35</span></div>
          </div>
          <div class="product-box medium">
            <img class="product-box-image" src="https://images.unsplash.com/photo-1453904300235-0f2f60b15b5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1233&q=80" alt="Product">
            <div class="product-box-details">Plants <span>25</span></div>
          </div>
          <div class="product-box medium">
            <img class="product-box-image" src="https://images.unsplash.com/photo-1604014237256-11d475e2a2d8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80" alt="Product">
            <div class="product-box-details">Bathroom <span>25</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-right">
    <button class="app-right-hide">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" viewBox="0 0 24 24">
        <path d="M18 6L6 18M6 6l12 12"/>
      </svg>
    </button>
    <div class="app-right-content">
      <ul class="product-list">
        <li class="product-list-item fadeIn">
          <div class="product-img-wrapper">
            <img class="product-image" src="https://images.unsplash.com/photo-1544030288-e6e6108867f6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZ1cm5pdHVyZXxlbnwwfDF8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" />
          </div>
          <div class="product-list-itemContent">
            <div class="product-info">
              <h2 class="product-info-header">
                Monokai
              </h2>
              <p class="product-info-subheader">
                125.00 $ <span class="product-color">Yellow</span>
              </p>
            </div>
            <div class="product-amount-wrapper">
              <button class="product-amount-button increase">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up" viewBox="0 0 24 24">
                  <path d="M18 15l-6-6-6 6" />
                </svg>
              </button>
              <span class="product-amount">2</span>
              <button class="product-amount-button decrease">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6" />
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="product-list-item fadeIn">
          <div class="product-img-wrapper">
            <img class="product-image" src="https://images.unsplash.com/photo-1541533260371-b8fc9b596d84?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80" alt="product"/>
          </div>
          <div class="product-list-itemContent">
            <div class="product-info">
              <h2 class="product-info-header">
                Night Owl
              </h2>
              <p class="product-info-subheader">
                225.00 $ <span class="product-color">Gray</span>
              </p>
            </div>
            <div class="product-amount-wrapper">
              <button class="product-amount-button increase">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up" viewBox="0 0 24 24">
                  <path d="M18 15l-6-6-6 6" />
                </svg>
              </button>
              <span class="product-amount">1</span>
              <button class="product-amount-button decrease">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6" />
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="product-list-item fadeIn">
          <div class="product-img-wrapper">
            <img class="product-image" src="https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80" />
          </div>
          <div class="product-list-itemContent">
            <div class="product-info">
              <h2 class="product-info-header">
                Material
              </h2>
              <p class="product-info-subheader">
                105.00 $ <span class="product-color">Gray</span>
              </p>
            </div>
            <div class="product-amount-wrapper">
              <button class="product-amount-button increase">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up" viewBox="0 0 24 24">
                  <path d="M18 15l-6-6-6 6" />
                </svg>
              </button>
              <span class="product-amount">1</span>
              <button class="product-amount-button decrease">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6" />
                </svg>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <div class="product-details fadeIn">
        <div class="product-details-line">
          <span class="product-details-text">Sub Total</span>
          <span class="product-details-text amount">455.00 $</span>
        </div>
        <div class="product-details-line">
          <span class="product-details-text">Shipment</span>
          <a href="#" class="product-details-link">Check details</a>
          <span class="product-details-text amount">15.00 $</span>
        </div>
        <div class="product-details-line">
          <span class="product-details-text">Discount</span>
          <a href="#" class="product-details-link">Remove</a>
          <span class="product-details-text amount">-10.00 $</span>
        </div>
        <div class="product-details-summary">
          <span class="product-details-text">Total</span>
          <span class="product-details-text amount">460.00 $</span>
        </div>
      </div>
    </div>
    <button class="checkout-button">Checkout Payment</button>
  </div>
</div>

</body>
</html>