<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resort.Sunset.mapper.MenuFileMapper">
    <select id="selectByResId" resultType="com.resort.Sunset.dto.menuFile">
        SELECT * FROM menuFile WHERE res_id = #{res_id}
    </select>
</mapper>