<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resort.Sunset.mapper.RoomMapper">
    <select id="allRoom" resultType="com.resort.Sunset.dto.room">
        SELECT * FROM room
    </select>

    <select id="selectById" resultType="com.resort.Sunset.dto.room">
        SELECT * FROM room WHERE room_id = #{room_id}
    </select>

    <select id="selectTop" resultType="com.resort.Sunset.dto.room">
        SELECT * FROM room LIMIT 4;
    </select>

    <select id="duplicateBed" resultType="java.lang.String">
        SELECT DISTINCT rb.room_bed
        FROM room_count rc
                 INNER JOIN room_bed rb ON rc.rb_id = rb.rb_id
        WHERE rc.room_id = #{room_id};
    </select>

    <select id="duplicateView" resultType="java.lang.String">
        SELECT DISTINCT rv.room_view
        FROM room_count rc
                 INNER JOIN room_view rv ON rc.rv_id = rv.rv_id
        WHERE rc.room_id = #{room_id};
    </select>

    <select id="getPrice" resultType="com.resort.Sunset.dto.room_price">
        select *
        from room_price
        where room_id = #{room_id} and diff = #{diff}
    </select>

    <select id="isRoom" parameterType="map" resultType="int">
        select count(*)
        from room_reserve
        where room_id = #{room_id}
          and (out_date &gt; #{in_date} and in_date &lt; #{out_date})
    </select>

    <insert id="insertImg" parameterType="map">
        INSERT INTO img_all (img_name, res_id, room_id, store_id)
        VALUES
        (
        #{img_name},
        <choose>
            <when test="res_id != null">#{res_id}</when>
            <otherwise>null</otherwise>
        </choose>,
        <choose>
            <when test="room_id != null">#{room_id}</when>
            <otherwise>null</otherwise>
        </choose>,
        <choose>
            <when test="store_id != null">#{store_id}</when>
            <otherwise>null</otherwise>
        </choose>
        )
    </insert>


</mapper>