<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resort.Sunset.mapper.UserMapper">
    <select id="selectByEmail" resultType="com.resort.Sunset.dto.users">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <insert id="saveUser" parameterType="com.resort.Sunset.dto.users">
        insert into users (birth, email, name, phone, pwd)
        VALUES (#{birth}, #{email}, #{name}, #{phone}, #{pwd})
    </insert>
</mapper>