<!-- Header Section Begin -->
<header class="header-section2" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="/">SUNSET RESORT</a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="subMenu">
                            <ul>
                                <li><a href="/contact">호텔 찾기</a></li>
                                <li><a href="/about">멤버십</a></li>
                                <!-- 로그인 안 했을 때-->
                                <th:block sec:authorize="isAnonymous()">
                                    <li><a href="/myPage">예약조회</a></li>
                                    <li><a href="/login">로그인</a></li>
                                    <li><a href="/sign">회원가입</a></li>
                                </th:block>

                                <th:block sec:authorize="isAuthenticated()">
                                    <!-- 로그인 했을 때-->
                                    <li><a href="/room">쿠폰</a></li>
                                    <li><a href="/myPage">마이 페이지</a></li>
                                    <li><a href="/logout">로그아웃</a></li>
                                </th:block>
                            </ul>
                        </nav>
                        <div class="nav-right search-switch">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- Header End -->