    <!-- Header Section Begin -->
    <header class="header-section">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active">
                                        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">객실예약</a></li>
                                    <li><a href="/room">Rooms</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/roomDetail">Room Details</a></li>
                                            <li><a href="/blogDetail">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/blog">News</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body collCss">
                <div class="row first_coll">
                    <div class="col-1"></div>
                    <div class="col-1 vertical-line">호텔</div>
                    <div class="col-1">체크인</div>
                    <div class="col-1">1박</div>
                    <div class="col-1 vertical-line">체크아웃</div>
                    <div class="col-1">객실수</div>
                    <div class="col-1">성인</div>
                    <div class="col-1 vertical-line">어린이</div>
                    <div class="col-2"></div>
                    <div class="col-1"></div>
                </div>
                <div class="row second_coll">
                    <div class="col-1"></div>
                    <div class="col-1 vertical-line">선셋 리조트</div>
                    <div class="col-1">04월 23일(화)</div>
                    <div class="col-1">1박</div>
                    <div class="col-1 vertical-line">04월 24일(수)</div>
                    <div class="col-1">1</div>
                    <div class="col-1">2</div>
                    <div class="col-1 vertical-line">0</div>
                    <div class="col-2">예약하기</div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->