<!-- Header Section Begin -->
<header class="header-section">
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="/">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class="active">
                                    <a data-bs-toggle="collapse" href="#collapseExample" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">객실예약</a></li>
                                <li><a href="/room">Rooms</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/roomDetail">Room Details</a></li>
                                        <li><a href="/blogDetail">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="/blog">News</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="nav-right search-switch">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body collCss">
            <div class="row first_coll">
                <div class="col-1"></div>
                <div class="col-1 vertical-line">호텔</div>
                <div class="col-1">체크인</div>
                <div class="col-1">1박</div>
                <div class="col-1 vertical-line">체크아웃</div>
                <div class="col-1">객실수</div>
                <div class="col-1">성인</div>
                <div class="col-1 vertical-line">어린이</div>
                <div class="col-2"></div>
                <div class="col-1"></div>
            </div>
            <div class="row second_coll">
                <div class="col-1"></div>
                <div class="col-1 vertical-line">선셋 리조트</div>
                <div class="col-1">04월 23일(화)</div>
                <div class="col-1">1박</div>
                <div class="col-1 vertical-line">04월 24일(수)</div>
                <div class="col-1">1</div>
                <div class="col-1">2</div>
                <div class="col-1 vertical-line">0</div>
                <div class="col-2">
                    <a href="roomRes">예약하기</a>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <!-- 모달 내용 -->
        <div class="modal-content">
            <!-- 모달 닫기 버튼 -->
            <span id="closeModalBtn" class="close">&times;</span>
            <div class="modal-body">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-4">
                                <!-- 캘린더 레이어 -->
                                <div class="check-date">
                                    <label for="date-in">Check In:</label>
                                    <input type="text" id="date-in">
                                    <i class="icon_calendar"></i>
                                </div>
                                <div class="check-date">
                                    <label for="date-out">Check Out:</label>
                                    <input type="text" id="date-out">
                                    <i class="icon_calendar"></i>
                                </div>
                            </div>
                            <div class="col-8">
                                <!-- 객실 선택 레이어 -->
                                <div class="s598-search__layer s598-person room-info">
                                    <!-- 객실 선택 내용 -->
                                    <!-- 여기에 객실 선택 UI 추가 -->
                                    <div class="room">
                                        <div class="room-label">객실 1</div>
                                        <div class="counter">
                                            <button class="decrease">-</button>
                                            <div class="count">성인 1</div>
                                            <button class="increase">+</button>
                                        </div>
                                        <div class="counter">
                                            <button class="decrease">-</button>
                                            <span class="count">어린이 1</span>
                                            <button class="increase">+</button>
                                        </div>
                                        <div class="counter">

                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-add-room">객실 추가</button>

                                <!-- 선택완료 버튼 -->
                                <button id="confirmSelectionBtn" class="btn">선택완료</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</header>
<!-- Header End -->