<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="infoFragment">
    <form action="roomRes" method="post">
        <input type="hidden" name="hidden_openDate" id="hidden_openDate">
        <input type="hidden" name="hidden_sleepDay" id="hidden_sleepDay">
        <input type="hidden" name="hidden_finDate" id="hidden_finDate">
        <input type="hidden" name="hidden_roomCount" id="hidden_roomCount">
        <input type="hidden" name="hidden_adultCount" id="hidden_adultCount">
        <input type="hidden" name="hidden_childCount" id="hidden_childCount">

        <div class="card card-body collCss fixed-bottom">
            <div class="row first_coll">
                <div class="col-1"></div>
                <div class="col-1 vertical-line">호텔</div>
                <div class="col-1">체크인</div>
                <div class="col-1"></div>
                <div class="col-1 vertical-line">체크아웃</div>
                <div class="col-1">객실수</div>
                <div class="col-1">성인</div>
                <div class="col-1 vertical-line">어린이</div>
                <div class="col-2"></div>
                <div class="col-1"></div>
            </div>
            <a href="#" class="row second_coll" id="collapseExample">
                <div class="col-1"></div>
                <div class="col-1 vertical-line">선셋 리조트</div>
                <div class="col-1 openDate" id="openDate">2024-02-02</div>
                <div class="col-1 sleepDay" id="sleepDay">1 박</div>
                <div class="col-1 vertical-line finDate" id="finDate">2024-02-03</div>
                <div class="col-1 roomCount" id="roomCount">1</div>
                <div class="col-1 adultCount" id="adultCount">2</div>
                <div class="col-1 vertical-line childCount" id="childCount">0</div>
                <div class="col-2">
                    <button class="btnCss">예약하기</button>
                </div>
                <div class="col-1"></div>
            </a>
        </div>
    </form>

    <div id="modal" class="modal">
        <!-- 모달 내용 -->
        <div class="modal-content">
            <!-- 모달 닫기 버튼 -->
            <span id="closeModalBtn" class="close">&times;</span>
            <div class="modal-body">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-4">
                                <!-- 캘린더 레이어 -->
                                <div class="check-date">
                                    <label for="date-in">Check In:</label>
                                    <input type="text" id="date-in">
                                    <i class="icon_calendar"></i>
                                </div>
                                <div class="check-date">
                                    <label for="date-out">Check Out:</label>
                                    <input type="text" id="date-out">
                                    <i class="icon_calendar"></i>
                                </div>
                            </div>
                            <div class="col-8">
                                <!-- 객실 선택 레이어 -->
                                <div class="s598-search__layer s598-person room-info">
                                    <!-- 객실 선택 내용 -->
                                    <!-- 여기에 객실 선택 UI 추가 -->
                                    <div class="room">
                                        <div class="room-label">객실 1</div>
                                        <div class="counter">
                                            <button class="decrease">-</button>
                                            <div class="countA">성인 1</div>
                                            <button class="increase">+</button>
                                        </div>
                                        <div class="counter">
                                            <button class="decrease">-</button>
                                            <span class="countC">어린이 1</span>
                                            <button class="increase">+</button>
                                        </div>
                                        <div class="counter">

                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-add-room">객실 추가</button>

                                <!-- 선택완료 버튼 -->
                                <button id="confirmSelectionBtn" class="btn">선택완료</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            var today = new Date();

            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);

            var dayInt = parseInt(day, 10);

            var startDate = year + '-' + month  + '-' + day;
            var closeDate = year + '-' + month  + '-' + (dayInt+1);

            console.log(startDate);

            // 기본값 설정
            const defaultValues = {
                sleepDay: '1 박',
                roomCount: '1',
                adultCount: '1',
                childCount: '0'
            };

            // 로컬 스토리지에서 값 불러오기
            const openDate = localStorage.getItem('openDate') || startDate;
            const sleepDay = localStorage.getItem('sleepDay') || defaultValues.sleepDay;
            const finDate = localStorage.getItem('finDate') || closeDate;
            const roomCount = localStorage.getItem('roomCount') || defaultValues.roomCount;
            const adultCount = localStorage.getItem('adultCount') || defaultValues.adultCount;
            const childCount = localStorage.getItem('childCount') || defaultValues.childCount;

            // 데이터를 표시할 요소에 할당
            document.getElementById('openDate').textContent = openDate;
            document.getElementById('sleepDay').textContent = sleepDay;
            document.getElementById('finDate').textContent = finDate;
            document.getElementById('roomCount').textContent = roomCount;
            document.getElementById('adultCount').textContent = adultCount;
            document.getElementById('childCount').textContent = childCount;

            // 데이터를 숨겨진 입력 필드에 할당
            document.getElementById('hidden_openDate').value = openDate;
            document.getElementById('hidden_sleepDay').value = sleepDay;
            document.getElementById('hidden_finDate').value = finDate;
            document.getElementById('hidden_roomCount').value = roomCount;
            document.getElementById('hidden_adultCount').value = adultCount;
            document.getElementById('hidden_childCount').value = childCount;

        });
    </script>
</th:block>
</html>