<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/ex.css">
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html"></div>
<div th:include="fragments/nav.html"></div>

<form action="/fileUp" method="post" th:object="${allFile}" enctype="multipart/form-data">
    <input type="file" id="file" name="file" accept=".png, .jpg, .jpeg" multiple required />
    <br>
        <div class="row uploadImg">
            <label>프로모션</label>
            <select th:field="*{pro_id}">
                <option value="">프로모션 선택</option>
                <option th:each="selectPro : ${promotion}"
                        th:value="${selectPro.pro_id}"
                        th:text="${selectPro.name}">
                </option>
            </select>
        </div>

        <div class="row uploadImg">
            <label>다이닝</label>
            <select th:field="*{res_id}">
                <option value="">다이닝 선택</option>
                <option th:each="selectRes : ${restaurant}"
                        th:value="${selectRes.res_id}"
                        th:text="${selectRes.name}">
                </option>
            </select>
        </div>

        <div class="row uploadImg">
            <label>객실</label>
            <select th:field="*{room_id}">
                <option value="">객실 선택</option>
                <option th:each="selectRoom : ${rooms}"
                        th:value="${selectRoom.room_id}"
                        th:text="${selectRoom.name}">
                </option>
            </select>
        </div>

        <div class="row uploadImg">
            <label>부대시설</label>
            <select th:field="*{store_id}">
                <option value="">부대시설 선택</option>
                <option th:each="selectStore : ${store}"
                        th:value="${selectStore.store_id}"
                        th:text="${selectStore.name}">
                </option>
            </select>
        </div>

    <br>
    <button type="submit">보내기</button>
</form>
<br>


<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>
