<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<!--ring div starts here-->
<form method="post" action="login">

    <div class="ring">
        <i style="--clr:#A9D0F5;"></i>
        <i style="--clr:#2E64FE;"></i>
        <i style="--clr:#2E9AFE;"></i>
        <div class="login">
            <h2>로그인</h2>
            <div class="inputBx">
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
            <div class="inputBx">
                <input type="password" id="pwd" name="pwd" placeholder="Password">
            </div>
            <div class="inputBx">
                <input type="submit" value="Sign in">
            </div>
            <div class="links">
                <a href="#">비밀번호를 잊으셨나요?</a>
                <a href="/sign">회원가입</a>
            </div>
        </div>
    </div>
</form>
<!--ring div ends here-->
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>
