<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/memberShip.css">
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html"></div>
<div th:include="fragments/nav.html"></div>

<div class="progressDiv">
    <div class="statChartHolder">
        <div class="progress-pie-chart" data-percent="67"><!--Pie Chart -->
            <div class="ppc-progress">
                <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
                <div class="pcc-percents-wrapper">
                    <span>%</span>
                </div>
            </div>
        </div><!--End Chart -->
    </div>
    <div class="statRightHolder">
        <ul>
            <li> <h3 class="blue">0 P</h3> <span>유효 적립 포인트</span></li>
            <li> <h3 class="purple">0 박</h3> <span>투숙 일수</span></li>
        </ul>

        <ul>
            <h5 class="membership">
                등급평가 및 조정은 승급 기준 충족 시, 매월 10일에 반영됩니다.
            </h5>
            <h5 class="membership">
                연간 총 12회 등급 상향 가능하며, 최대 23개월 까지 등급이 유지됩니다.
            </h5>
            <h5 class="membership">
                전환 포인트 및 이벤트 프로모션 포인트는 실적 산정에 제외됩니다.
            </h5>
        </ul>
    </div>

</div>

<div th:replace="fragments/footer :: footerFragment"></div>
<script src="js/ex2.js"></script>


</body>
</html>
