<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html" style="width: 100%"></div>
<link rel="stylesheet" href="/css/myPage.css">
<link rel="stylesheet" href="/css/signup.css">

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Sunset Resort</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="/myPage">예약 내역</a>
      </li>
      <li style="background-color: #e0e0e0;">
        <a href="/info">내 정보</a>
      </li>
    </ul>

    <!--    <ul class="list-unstyled CTAs">-->
    <!--      <li>-->
    <!--        <a href="#" class="download">Download source</a>-->
    <!--      </li>-->
    <!--      <li>-->
    <!--        <a href="#" class="article">Back to article</a>-->
    <!--      </li>-->
    <!--    </ul>-->
  </nav>

  <form method="post" action="/userEdit" style="margin-left: 500px">
    <div class="ring">
      <div class="signup">
        <h2>정보 수정</h2>
        <div class="inputBx">
          <input type="email" th:value="${user.email}" placeholder="Email">
        </div>
        <div class="inputBx">
          <input type="text" th:value="${user.name}" placeholder="이름">
        </div>
        <div class="inputBx">
          <input type="text" th:value="${user.phone}" placeholder="전화번호">
        </div>
        <div class="inputBx">
          <input type="password" placeholder="비밀번호">
        </div>
        <div class="inputBx">
          <input type="password" placeholder="비밀번호 확인">
        </div>
        <div class="inputBx">
          <input type="submit" value="확인" style="width: 49%">
          <button class="btnCancel" type="button" onclick="history.back();"
                  style="width: 49%; background: white; color: black; border: 1.5px solid">취소</button>
        </div>
      </div>
    </div>
  </form>

</div>

<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>
