<!DOCTYPE html>
<html lang="zxx">

<head>
</head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/nav.html"></div>
<link rel="stylesheet" href="css/roomDetail.css" type="text/css">
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2 th:text="${rooms.name}">Our Rooms</h2>
                    <div class="bt-option">
                        <a href="/">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="room-details-item">
            <div class="image-wrapper" style="position: relative;">
                <img src="img/room/room-details.jpg" alt="" style="width: 1900px">
                <button class="prev" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%);">&#60;</button>
                <button class="next" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">&#62;</button>
            </div>
            <div class="rd-text">
                <div class="rd-title">
                    <h5 class="text-center">
                        우아한 인테리어와 현대적 세련미가 조화롭게 어우러진 시그니엘 서울의
                        그랜드 디럭스 룸은 초고층 객실에서 바라보는
                        서울 도심의 파노라믹뷰와 최상의 휴식을 제공합니다.
                    </h5>
                    <div class="rdt-right">
                        <a href="#">예약 하기</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 infoTitle">
                <h3>객실 개요</h3>
            </div>
            <div class="col-10">
                <ul>
                    <li class="exexex">
                        <div class="roomTitle">침대타입</div>
                        <div>더블</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">투숙인원</div>
                        <div>2명</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">전망</div>
                        <div>시티뷰/리버뷰/<br>시티뷰(전망욕실)/<br>리버뷰(전망욕실)</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">객실면적</div>
                        <div>30~50 ㎡</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">체크인/체크아웃</div>
                        <div>15:00/11:00</div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 infoTitle">
                <h3>특별 서비스</h3>
            </div>
            <div class="col-10">
                <ul>
                    <li class="xe" th:each="item : ${rooms.service.split('\\n')}">
                        <span th:text="'- ' + ${item}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 infoTitle">
                <h3>어메니티</h3>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li class="xe" th:each="item : ${amenities.general.split('\\n')}">
                                <span th:text="'- ' + ${item}"></span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<!-- Room Details Section End -->
<div th:replace="fragments/footer :: footerFragment"></div>
<script src="js/roomDetail.js"></script>


</body>

</html>
