<!DOCTYPE html>
<html lang="zxx">

<head>
</head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html"></div>
<link rel="stylesheet" href="css/roomDetail.css" type="text/css">
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2 th:text="${rooms.name}">Our Rooms</h2>
                    <div class="bt-option">
                        <a href="/">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="room-details-item">
            <div class="image-wrapper" style="position: relative;">
                <img src="img/room/room-details.jpg" alt="" style="width: 1900px">
                <button class="prev" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%);">&#60;</button>
                <button class="next" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">&#62;</button>
            </div>
            <div class="rd-text">
                <div class="rd-title">
                    <h5 class="text-center" th:utext="${#strings.replace(rooms.intro, '\n', '<br>')}">
                        intro~
                    </h5>
                    <!-- 이미지 이름 출력 확인 -->
<!--                    <div th:each="img : ${roomImg}">-->
<!--                        <span th:if="${img.img_name != null}" th:text="${#strings.substringAfter(img.img_name, '_')}">Image Text</span>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 infoTitle">
                <h3>객실 개요</h3>
            </div>
            <div class="col-10">
                <ul>
                    <li class="exexex">
                        <div class="roomTitle">침대타입</div>
                        <div>더블</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">투숙인원</div>
                        <div th:text="${rooms.max_people}">2명</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">전망</div>
                        <div>시티뷰/리버뷰/<br>시티뷰(전망욕실)/<br>리버뷰(전망욕실)</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">객실면적</div>
                        <div th:text="${rooms.area} + 'm'">30~50 ㎡</div>
                    </li>
                    <li class="exexex">
                        <div class="roomTitle">체크인/체크아웃</div>
                        <div>15:00/11:00</div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 infoTitle">
                <h3>특별 서비스</h3>
            </div>
            <div class="col-10">
                <ul>
                    <li class="xe" th:each="item : ${rooms.service.split('\\n')}">
                        <span th:text="'- ' + ${item}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 infoTitle">
                <h3>어메니티</h3>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <div class="roomTitle">일반</div>
                        <ul>
                            <li class="xe" th:each="item : ${amenities.general.split('\\n')}">
                                <span th:text="${item}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="roomTitle">욕실</div>
                        <ul>
                            <li class="xe" th:each="item : ${amenities.bath.split('\\n')}">
                                <span th:text="${item}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="roomTitle">기타</div>
                        <ul>
                            <li class="xe" th:each="item : ${amenities.etc.split('\\n')}">
                                <span th:text="${item}"></span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <hr>
    </div>
</section>

<div th:replace="fragments/roomInfo :: infoFragment"></div>


<!-- Room Details Section End -->
<div th:replace="fragments/footer :: footerFragment"></div>
<script src="js/roomDetail.js"></script>

</body>

</html>
