<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/roomRes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html"></div>

<div th:replace="fragments/roomInfo :: infoFragment"></div>

<aside class="destination-widget">
    <div class="reservation">
        <h4 class="reservation__title">제목</h4>
        <ul class="reservation-list" th:each="room, index : ${allRoom}">
            <li class="reservation-list__item">
                <div class="reservation-list__img">
                    <img th:with="imgName=${#strings.substringAfter(room.room_img, '_')}"
                         th:src="'/sunset_gallery/' + ${imgName}" alt="">
                </div>
                <div class="reservation-list__info">
                    <h4 class="reservation-list__guest" th:text="${room.name}">그랜드 디럭스 더블 시티뷰 </h4>
                    <span class="reservation-list__place" th:text="${roomView.get(index.index)}">전망 시티뷰 / 리버뷰 / 시티뷰(전망욕실) / 리버뷰(전망욕실)</span>
                    <div class="reservation-list__price">
                        <button th:text="${roomPrice.get(index.index)}">450,000 KRW </button>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</aside>

<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>
