<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/roomOrder.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html"></div>

<div class="container2">
    <p><h6>시그니엘 서울</h6></p>
    <h4 th:text="${selRoom.name}">그랜드 디럭스 더블 시티뷰, 일반 요금</h4>
    <hr><br>
    <h5>예약 옵션</h5><br>
    <div class="booking-options">
        <div class="room-details">
            <span class="fontSize" th:text="'객실 * ' + ${resForm.hidden_sleepDay}">객실</span>
            <span class="rdetail"
                  th:text="'투숙 인인원: 성인 ' + ${resForm.hidden_adultCount} + '인, 어린이 ' + ${resForm.hidden_childCount} + '인 '">투숙 인원: 성인 2인, 어린이 0인</span><hr><br>
            <div class="breakfast-option">
                <label class="fontSize">조식신청 (성인)</label>
                <span class="rdetail">모든 투숙일에 적용됩니다.</span>
                <div class="breakfast-selection mt">
                    <span>성인 조식</span>
                    <span>56,000 KRW / 1인, 1박</span>
                    <div class="product-count row">
                        <div class="qtyminus">-</div>
                        <input type="number" name="quantity" th:max="${resForm.hidden_adultCount}" value="0" class="qty">
                        <div class="qtyplus">+</div>
                    </div>
                </div><br><hr>
            </div>
            <div class="additional-requests">
                <label class="fontSize">추가요청</label>
                <textarea id="requests1" name="requests" placeholder="예시) 추가 베드를 요청합니다."></textarea>
            </div>
        </div>
        <div>

        </div>
        <div class="pricing-details">
            <p class="fontSize">객실 요금</p>
            <p>
                <span th:text="${resForm.hidden_openDate}">2024년 05월 23일</span>
                <span th:text="${#numbers.formatInteger(selPrice.price, 0, 'COMMA')} + ' KRW * ' + ${resForm.hidden_sleepDay}">550,000 KRW</span>
            </p><br>
            <p class="fontSize">옵션 요금</p>
            <p>조식신청 (성인)</p>
            <p>
                <span class="breakfast-count">성인 조식 0 * 박</span>
                <span class="breakfast-price">0 KRW</span>
            </p>
            <br>
            <p>
                <span class="tax-label">세금 및 봉사료</span>
                <span class="tax">0 KRW</span>
            </p>
            <hr>
            <br>
            <p>
                <span class="fontSize">객실 총 요금</span>
                <span class="total-price">총 금액: 0 KRW</span>
            </p>
        </div>
    </div><br>

    <hr><br>
    <div class="row">
        <div class="col-2 infoTitle">
            <h4>취소규정</h4>
        </div>
        <div class="col-10">
            <ul>
                <li class="xe">
                    <span>상기 홈페이지 요금은 정상에서 할인된 금액으로, 중복 할인은 불가능합니다.</span>
                </li>
                <li class="xe">
                    <span>예약 취소 및 변경은 체크인 이틀 전 18:00(한국 시간)까지 가능합니다.</span>
                </li>
                <li class="xe">
                    <span>무료 취소 기한(체크인 이틀 전 18:00) 이후 예약이 변경 및 취소될 경우, 예약 첫날에 해당하는 1박 객실 요금이 예약보증용 신용카드로 청구됩니다.</span>
                </li>
                <li class="xe">
                    <span>예약 시점에 객실요금의 보증용으로 카드 선승인이 이루어질 수 있으며, 카드 승인 불가 시 예약이 임의로 취소될 수 있습니다.</span>
                </li>
                <li class="xe">
                    <span>일부 프로모션 특가상품은 별도의 취소규정이 적용됩니다.</span>
                </li>
                <li class="xe">
                    <span>
                        일부 성수기(12/24, 12/31)의 취소 및 변경은 체크인 21일 전 18:00(호텔 시간)까지 가능하며, 도착 21일전 18:00까지 취소하지 않을 경우 1박 객실 요금이 예약보증용 신용카드로 청구됩니다.
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <hr><br>
    <div class="row">
        <div class="col-2 infoTitle">
            <h4>객실 정보</h4>
        </div>
        <div class="col-10">
            <ul>
                <li class="exexex">
                    <div class="roomTitle">체크인/체크아웃</div>
                    <div>15:00/11:00</div>
                </li>
                <li class="exexex">
                    <div class="roomTitle">최대 투숙인원</div>
                    <div>2명</div>
                </li>
                <li class="exexex">
                    <div class="roomTitle">전망</div>
                    <div th:text="${oneView}">시티뷰/리버뷰/<br>시티뷰(전망욕실)/<br>리버뷰(전망욕실)</div>
                </li>
                <li class="exexex">
                    <div class="roomTitle">객실면적</div>
                    <div th:text="${selRoom.area}">30~50 ㎡</div>
                </li>
            </ul>
        </div>
    </div>
    <hr><br>
    <div class="row">
        <div class="col-2 infoTitle">
            <h4>어메니티</h4>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <div class="roomTitle" style="text-align:center;">일반</div>
                    <ul>
                        <li class="xe" th:each="item : ${amenities.general.split('\\n')}">
                            <span th:text="${item}"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="roomTitle" style="text-align:center;">욕실</div>
                    <ul>
                        <li class="xe" th:each="item : ${amenities.bath.split('\\n')}">
                            <span th:text="${item}"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="roomTitle" style="text-align:center;">기타</div>
                    <ul>
                        <li class="xe" th:each="item : ${amenities.etc.split('\\n')}">
                            <span th:text="${item}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>



    <input type="hidden" id="hidden_room_price" th:value="${selPrice.price}">
    <input type="hidden" id="hidden_adult_count" th:value="${resForm.hidden_adultCount}">
    <input type="hidden" id="hidden_child_count" th:value="${resForm.hidden_childCount}">

</div>

<form id="roomOrderForm" action="/orderDe" method="post">
    <div class="containerEx">
        <div class="left">
            <div class="info">
                <p th:text="${resForm.hidden_openDate} + ' ~ ' + ${resForm.hidden_finDate}">
                    2024년 06월 20일 - 2024년 06월 21일 (1 박)
                </p>
                <p th:text="'객실 ' + ${resForm.hidden_roomCount} + '개' + ' | 성인 ' + ${resForm.hidden_adultCount} + '인 어린이 ' + ${resForm.hidden_childCount} + '인 '">
                    객실 1개 | 성인 2인 어린이 0인
                </p>
            </div>
            <div class="buttons">
                <button class="btnCss total-res">1,012,770 KRW 회원으로 예약하기</button>
            </div>
        </div>
        <div class="right">
            <div class="info">
                <p>
                    객실 요금
                    <span class="room-price" style="float:right;">
                    900,000 KRW
                </span>
                </p>
                <p>
                    성인 조식
                    <span class="break-price" style="float:right;">
                    0 KRW
                </span>
                </p>
                <p>
                    세금 및 봉사료
                    <span class="tax-price" style="float:right;">
                    189,000 KRW
                </span>
                </p>
                <p>총 요금 <span class="total" style="float:right;">1,089,000 KRW</span></p>
            </div>
        </div>
    </div>

    <input type="hidden" id="child" name="child" th:value="${resForm.hidden_childCount}">
    <input type="hidden" id="in_date" name="in_date" th:value="${resForm.hidden_openDate}">
    <input type="hidden" id="out_date" name="out_date" th:value="${resForm.hidden_finDate}">
    <input type="hidden" id="people" name="people" th:value="${resForm.hidden_adultCount}">
    <input type="hidden" id="breakfast" name="breakfast" value="">
    <input type="hidden" id="room_count" name="room_count" th:value="${resForm.hidden_roomCount}">
    <input type="hidden" id="room_id" name="room_id" th:value="${selRoom.room_id}">
    <input type="hidden" id="user_id" name="user_id" value="">
    <input type="hidden" id="add_request" name="add_request" value="">
    <input type="hidden" id="total_price" name="total_price" value="">

    <input type="hidden" id="roomPrice" name="roomPrice">
    <input type="hidden" id="breakPrice" name="breakPrice">
    <input type="hidden" id="taxPrice" name="taxPrice">

</form>

<div th:replace="fragments/footer :: footerFragment"></div>
<script src="js/roomOrder.js"></script>

</body>
</html>
