<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<!--ring div starts here-->
<form method="post" action="sign" th:object="${user}">
    <div class="ring">
        <div class="signup">
            <h2>회원 가입</h2>
            <div class="inputBx">
                <input th:field="*{email}" type="email" placeholder="Email">
            </div>
            <div class="inputBx">
                <input th:field="*{name}" type="text" placeholder="이름">
            </div>
            <div class="inputBx">
                <input th:field="*{phone}" type="text" placeholder="전화번호">
            </div>
            <div class="inputBx">
                <input th:field="*{pwd}" type="password" placeholder="비밀번호">
            </div>
            <div class="inputBx">
                <input type="password" id="pwcheck" placeholder="비밀번호 확인">
                <span id="passwordMatchMessage"></span>
            </div>
            <div class="inputBx">
                <input type="submit" value="회원가입">
            </div>
            <div class="links">
                <a href="login">이미 회원이신가요?</a>
            </div>
        </div>
    </div>
</form>
<!--ring div ends here-->
<div th:replace="fragments/footer :: footerFragment"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var passwordInput = document.getElementById('pwd');
        var confirmPasswordInput = document.getElementById('pwcheck');
        var passwordMatchMessage = document.getElementById('passwordMatchMessage');

        passwordInput.addEventListener('input', function() {
            checkPasswordMatch();
        });

        confirmPasswordInput.addEventListener('input', function() {
            checkPasswordMatch();
        });

        function checkPasswordMatch() {
            var password = passwordInput.value;
            var confirmPassword = confirmPasswordInput.value;

            if (password === confirmPassword) {
                passwordMatchMessage.innerHTML = '비밀번호가 일치합니다.';
                passwordMatchMessage.style.color = 'green';
            } else {
                passwordMatchMessage.innerHTML = '비밀번호가 일치하지 않습니다.';
                passwordMatchMessage.style.color = 'red';
            }
        }

        $(document).ready(function(){
            var signUpError = [[${signUpError}]];
            if(signUpError != null){
                alert(signUpError);
            }
        });
    });

    /*]]>*/
</script>

</body>
</html>
