<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/roomRes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:include="fragments/buyNav.html"></div>


<aside class="destination-widget">
        <div class="reservation">
            <h4 class="reservation__title">제목</h4>
            <ul class="reservation-list" th:each="room, index : ${roomIds}">
                <form th:id="'ex_room_' + ${index.index}" th:action="@{/oneRoomRes(id=${room.room_id})}" method="post" onsubmit="checkFormData()">
                    <li class="reservation-list__item">
                        <div class="reservation-list__img">
                            <img th:with="imgName=${#strings.substringAfter(room.room_img, '_')}"
                                 th:src="'/sunset_gallery/' + ${imgName}" alt="">
                        </div>
                        <div class="reservation-list__info">
                            <h4 class="reservation-list__guest" th:text="${room.name}">그랜드 디럭스 더블 시티뷰 </h4>
                            <span class="reservation-list__place" th:text="${roomView.get(index.index)}">전망 시티뷰 / 리버뷰 / 시티뷰(전망욕실) / 리버뷰(전망욕실)</span>
                            <div class="reservation-list__price">
                                <button id="sel_room" class="select_room" th:text="${#numbers.formatInteger(roomPrice.get(index.index),0, 'COMMA') + ' KRW'}">450,000 KRW</button>                     </div>
                        </div>
                    </li>
                    <input type="hidden" name="hidden_openDate" th:id="'hidden_openDate_' + ${index.index}">
                    <input type="hidden" name="hidden_sleepDay" th:id="'hidden_sleepDay_' + ${index.index}">
                    <input type="hidden" name="hidden_finDate" th:id="'hidden_finDate_' + ${index.index}">
                    <input type="hidden" name="hidden_roomCount" th:id="'hidden_roomCount_' + ${index.index}">
                    <input type="hidden" name="hidden_adultCount" th:id="'hidden_adultCount_' + ${index.index}">
                    <input type="hidden" name="hidden_childCount" th:id="'hidden_childCount_' + ${index.index}">

                </form>
            </ul>
        </div>

</aside>

<div th:replace="fragments/footer :: footerFragment"></div>

<script>
    // 각 폼에 데이터를 설정하는 함수
    function setFormData(index) {
        // 로컬 스토리지에서 값 불러오기
        const openDate = localStorage.getItem('openDate');
        const sleepDay = localStorage.getItem('sleepDay');
        const finDate = localStorage.getItem('finDate');
        const roomCount = localStorage.getItem('roomCount');
        const adultCount = localStorage.getItem('adultCount');
        const childCount = localStorage.getItem('childCount');

        document.getElementById('hidden_openDate_' + index).value = openDate;
        document.getElementById('hidden_sleepDay_' + index).value = sleepDay;
        document.getElementById('hidden_finDate_' + index).value = finDate;
        document.getElementById('hidden_roomCount_' + index).value = roomCount;
        document.getElementById('hidden_adultCount_' + index).value = adultCount;
        document.getElementById('hidden_childCount_' + index).value = childCount;
    }

    // 모든 폼에 대해 데이터를 설정
    document.querySelectorAll('form[id^="ex_room_"]').forEach((form, index) => {
        setFormData(index);
    });
</script>
<div th:replace="fragments/roomInfo :: infoFragment"></div>
</body>
</html>
